{% extends "base.html.twig" %}

{% block content %}





<main class="container-fluid m-0 p-0">

    <h1 class="text-warning text-center my-5">Avis Clients</h1>
    {# AVIS CLIENTS #}
    <section class="row border-bottom border-warning py-5">
        <div class="text-center py-5">
            <div id="carouselAvis" class="carousel slide py-5" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for item in avis %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <h5 class="my-5">{{ item.nom }}</h5>
                        <p class="fs-3">
                            {% for star in range(1, 5) %}
                            {% if star <= item.note %} <i class="text-warning bi bi-star-fill"></i>
                                {% else %}
                                <i class="text-warning bi bi-star"></i>
                                {% endif %}
                                {% endfor %}
                        </p>
                        <p class="fs-5 my-5 blockquote"><i class="bi bi-quote"></i> {{ item.commentaire_avis }} <i
                                class="bi bi-quote"></i></p>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAvis" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAvis" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>


    <section class="row border-bottom border-warning py-5">
        <h2 class="text-center text-warning my-5">Donnez votre avis !</h2>
        <form method="POST" action="/dashboard/avis/save">
            <div class="form-group">
                <div
                    class="rating d-flex justify-content-center my-5 d-flex flex-column align-content-center flex-wrap justify-content-center">
                    {% for starRating in range(5, 1, -1) %}
                    <div class="m-3">
                        <input type="radio" id="star{{ starRating }}" name="note" value="{{ starRating }}">
                        <label for="star{{ starRating }}" title="{{ starRating }} étoile{{ starRating > 1 ? 's' }}">
                            {% for star in range(1, starRating) %}
                            <i class="text-warning bi bi-star-fill fs-3"></i>
                            {% endfor %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex flex-column justify-content-evenly col-sm-8 col-xl-6 mx-auto">
                <div class="form-group m-2">
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" name="nom" class="form-control border border-warning my-1">
                </div>

                <div class="form-group m-2">
                    <label for="commentaire_avis">Commentaire :</label>
                    <textarea id="commentaire_avis" name="commentaire_avis"
                        class="form-control border border-warning my-1" rows="10"></textarea>
                </div>

                <button type="submit" class="btn my-5">Donner son avis</button>
            </div>
        </form>
    </section>

</main>
{% endblock content %}