{% extends "base.html.twig" %}
{% block content %}
<h1>Dashboard</h1>
<div>
    <h3>Bonjour Mr {{ session.user['nom'] }}</h3>
    <a href="/logout">Se deconnecter</a>
</div>

<div class="container">
    <h1>Dashboard</h1>
    <hr>

    <!-- Navigation -->
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/dashboard">Utilisateurs</a>
        </li>
        <!-- Ajoutez ici les autres liens de navigation pour gérer les autres fonctionnalités du CRUD -->
    </ul>

    <!-- Contenu du tableau -->
    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_admin }}</td>

                    <td>
                        <a href="/dashboard/edit/{{ user.id }}" class="btn btn-primary">Modifier</a>
                        <a href="/dashboard/delete/{{ user.id }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bouton Ajouter -->
    <div class="mt-4">
        <a href="/dashboard/create" class="btn btn-success">Ajouter un utilisateur</a>
    </div>
</div>
{% endblock content %}