{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <h1>Avis client</h1>

    {% for item in avis %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Avis de {{ item.nom }}</h5>
            <p class="card-text">{{ item.commentaire_avis }}</p>
            <p class="card-text">{{ item.note }} / 5</p>

            <div class="mt-4">
                <a href="/dashboard/avis/delete/{{ item.id }}" class="btn btn-danger"><i class="bi bi-x-circle"></i></a>

                {% if not avis.valide %}
                <a href="/dashboard/approuved/{{ item.id }}" class="btn btn-success"><i class="bi bi-check-lg"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}